Source: openapt
Section: misc
Priority: optional
Maintainer: Raphael Medaer <raphael.medaer@allocloud.com>
Build-Depends:
 debhelper (>= 11),
 dh-python,
 python3-all,
 python3-setuptools,
 pylint3,
 python3-pytest,
 python3-pytest-runner,
 python3-pytest-pylint,
 python3-jsonschema,
 aptly
Standards-Version: 4.1.3
Homepage: https://gitlab.allocloud.com/allocloud/openapt
X-Python3-Version: >= 3.7
Vcs-Browser: https://gitlab.allocloud.com/allocloud/openapt
Vcs-Git: https://gitlab.allocloud.com/allocloud/openapt.git
#Testsuite: autopkgtest-pkg-python

Package: openapt
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, python3-jsonschema
Description: Specify and automate APT repository management
 This package provides a tool to automate APT repository management
 through a single APT schema model.
